/*<button id="specific-paper-button"></button>*/
#specific-paper-button {
  color: red;
}

$main-color-red: #851307;
$main-color-green: #1D5C34;
$main-color-dark-green: #37585C;
$main-color-dark-green2: #186a8e;
$background-lightgray: #f7f7f7;
$main-color-highlight-turq: #4DBDC9;
$main-color-highlight-orange: #FA8D11;
$main-color-highlight-orangedark: #CC7000;
$main-color-highlight-sand: #857146; 
$main-color-highlight-turqdark: #156760;
$main-color-highlight-metropolis_orig: #23373B;
$main-color-highlight-orangemetropolis: #EB811B;
$main-color-highlight-metropolis: #37585c;
$main-color-highlight-jambro: #07285B;
$main-color-highlight-carandache: #DAA520; 

$main-color: $main-color-highlight-jambro;

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: $main-color;
}

.navbar-light .navbar-brand {
  color: $main-color;
}

.nav-link.active {
  /*color: $main-color;*/
  color: $main-color-highlight-carandache !important;
}

/*<p class="paper-button bg-rollover"></p>*/
/*
.paper-button {
  background-color: $background-lightgray;
  font-size: medium;
  text-decoration: none;
  text-align: center;
  color: black;
  border-radius: 2em;
  margin: 0px auto;
  text-align: center;
  display: inline-block;
  width: 4.5em; 
  height: 2em; 
  line-height: 2em;
  border: 1px solid $main-color;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 0.3em;
}
$background-lightgray
  width: 4.3em; 
  height: 2em;
    line-height: 1.9em;
*/
.paper-button {
  background-color: none; 
  font-size: small;
  text-decoration: none;
  text-align: center;
  color: black;
  border-radius: 2.5em;
  margin: 0px auto;
  text-align: center;
  display: inline-block;
  width: 4.3em; 
  height: 2em; 
  line-height: 1.9em;
  border: 1px solid $main-color;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 0.3em;
}

.download-button {
  background-color: none; 
  width: 9.5em
}

.bg-rollover:hover{
  background-color: $main-color !important;
  color: #ffffff !important;
  text-decoration: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.page-header .header--fixed {
  border-top: 0.1em solid $main-color-highlight-jambro;
  border-bottom: 0.1em solid $main-color-highlight-jambro;
}

.home-section {
  min-height: calc(100vh - 70px);
}

.avatar-circle {
  box-shadow: 0px 0px 20px gray;
  border: 5px solid white;
}

a:hover {
  transition: color .5s ease;
  color: $main-color-highlight-carandache;
}

.navbar .navbar-nav .nav-link.active {
  color: $main-color-highlight-carandache !important;
}

.navbar-light .navbar-brand:hover {
  color: $main-color-highlight-carandache !important;
  transition: color 0.5s ease;
}

.navbar {
  font-size: 0.9rem;
}

ul.ul-edu li .description p.course {
  font-size: 0.96rem !important;
}


ul.ul-edu li .description p.institution {
  font-size: 0.8rem;
}
